<%= form_with(model: catagory) do |form| %>
  <% if catagory.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(catagory.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% catagory.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
